body {
  margin: 4% auto;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: 5px;
  font-size: 1.8rem;
  -webkit-user-select: none;
  /*background-image: url('https://www.pakutaso.com/shared/img/thumb/PP_keshigomutopen_TP_V.jpg');*/
}

h1{
  text-align:center;
  color:#fcc800;
}

.DotGothic16 {
    font-family: 'DotGothic16', sans-serif;
}

.img {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.calculator {
  width: 500px;
  padding: 20px;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  background-color: #fcfcfc;
  margin: 0 auto;
}

.input {
  border: 1px solid #000;
  border-radius: 10px;
  height: 60px;
  padding-right: 15px;
  padding-top: 10px;
  text-align: right;
  margin-right: 6px;
  font-size: 2.5rem;
  overflow-x: auto;
  transition: all .2s ease-in-out;
}

.input:hover {
  border: 1px solid #bbb;
  -webkit-box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
}

.operators div {
  display: inline-block;
  border: 1px solid #bbb;
  border-radius: 25px;
  width: 80px;
  text-align: center;
  padding: 10px;
  margin: 20px 4px 10px 0;
  cursor: pointer;
  background-color: #ddd;
  transition: border-color .2s ease-in-out, background-color .2s, box-shadow .2s;
}

.operators div:hover {
  background-color: #fccf2a; /*カーソルをボタン上に置いた時にここで指定した色に変化する*/
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  border-color: #aaa;
}

.operators div:active {
  font-weight: bold;
}

.leftPanel {
  display: inline-block;
}

.numbers div {
  display: inline-block;
  border: 1px solid #ddd;
  border-radius: 1px;
  width: 80px;
  text-align: center;
  padding: 10px;
  margin: 10px 4px 10px 0;
  cursor: pointer;
  border-radius: 25px;
  background-color: #fff8ce; /*電卓の数字部分のカラー*/
  transition: border-color .2s ease-in-out, background-color .2s, box-shadow .2s;
  color: #404040;
}

.numbers div:hover {
  background-color: #fccf2a; /*カーソルをボタン上に置いた時にここで指定した色に変化する*/
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  border-color: #bbb;
}

.numbers div:active {
  font-weight: bold;
}

div.equal {
  display: inline-block;
  border: 1px solid #b59b1c;
  border-radius: 25px;
  width: 16%;
  text-align: center;
  padding: 127px 10px;
  margin: 10px 6px 10px 0;
  vertical-align: top;
  cursor: pointer;
  color: #FFF;
  background-color: #ffe568;
  transition: all .2s ease-in-out;
}

div.equal:hover {
  background-color: #ffa719; /*カーソルをボタン上に置いた時にここで指定した色に変化する*/
  -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  border-color: #1857BB;
}

div.equal:active {
  font-weight: bold;
}

.probability {
  font-size: 35px;
  color: #404040;
}

input[type="number"].input_num {
  
  height: 50px;
}

input[type="number"]{
  font-size: 22px
}

input[type="number"]::placeholder {
  font-size: 22px;
  color: orange;
}

input[type="button"].input_button{
  width: 80px;
  height: 55px;
}

.img2 {
  height: 30px;
}

.comment {
  color: #404040;
}

.Button-style {
  font-size: 20px;
  display: inline-block;
  background: #fffbed;
  color: #fc6d00;
  width: 80px;
  height: 80px;
  border: double 4px #fc6d00;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
}


/*========= レイアウトのためのCSS ===============*/

#wrapper{
  text-align:center;
}

/*========= particle js を描画するエリア設定 ===============*/

html,body{
  padding-top:0;
  margin-top:0;
}

#particles-js{ 
  position:fixed;/*描画固定*/
  z-index:-1;/*描画を一番下に*/
  width: 100%;
  height: 100%;
  background-color:#fffbed;/*背景色*/
}

#wrapper{
  position: relative;/*描画を#particles-jsよりも上にするためposition:relative;を指定*/
  z-index: 1;/*z-indexの数字を大きくすることで描画を#particles-jsよりも上に*/
  width:100%;
  height: 100%;
}





.bound-container{
  position:relative;
  width:100%;
  height:200px;
}


/*ボール*/
.ball{
  position: absolute;
  left: 0;
  right: 0;
  top:0;
  bottom: 0;
  margin: auto;
  width:150px;
  height:150px;
  border-radius: 50%;
  background:transparent;
  opacity:0.6;
  animation: bound-anim 1s infinite;
}

@keyframes bound-anim {
  0%,100% {top: 0;transform: scale(1);}
  30% {top: -60%; transform: scale(0.96,1.04);}
  60% {transform: scale(1);}
  90% {top: 0;transform: scale(1.15,0.9);}
}

/*影*/
.shadow{
  position: absolute;
  left: 0;
  right: 0;
  top:0;
  bottom: -145px;/*対象のheightと微調節*/
  margin: auto;
  width: 90px;
  height: 10px;
  border-radius: 50%;
  background: #000;
  filter: blur(6px);
  opacity:0.9;
  animation: shadow-anim 1s infinite;
}

@keyframes shadow-anim {
  0%,100%  {transform: scale(1);filter: blur(4px);}
  30% {transform: scale(1.6,1);filter: blur(8px);}
}