body{
  background-color: #f0f8ff;
  min-width:900px;
  width:100%;
}


h2{
  color: black;
  font-weight: bold;
  font-size:50px;
  text-align: center;
}

p{
  margin:0;
  padding:0;
}

button{
  width: 50%;
  aspect-ratio: 3/1 ;
  clip-path: polygon(3% 0, 89% 0, 60% 60%, 37% 30%, 3% 30%);
  text-align: right;
  padding-right: 19%;
  padding-bottom: 7%;
  position: relative;
  background-color:#FFBEDA;
}

button:hover{
  width: 60%;
}

button:active{
  background-color:#C7243A;
}

.arrow{
  width: 50%;
  aspect-ratio: 3/1 ;
  clip-path: polygon(3% 70%, 37% 70%, 60% 40%, 89% 100%, 3% 100%);
  text-align: right;
  padding-right: 14%;
  padding-top: 12%;
  background-color: #BBFFFF;
  position: relative;
}

/*.search_arrow{*/
/*  width: 20%;*/
/*  height:150px;*/
/*  clip-path: polygon(50% 47%, 100% 30%, 100% 70%, 50% 90%, 0% 70%, 0% 30%);*/
/*  background-color: green;*/
  
/*}*/

.translate_menue{
  width:100%;
  position:relative;	
}

.original_language{
  width:150px;
	height: 150px;
	position:absolute;
	top: 80px;
	left:5%;
}

.last_language{
  width:150px;
	height: 150px;
	position:absolute;
	top: 80px;
	right:5%;
}
.input_container{
  width:100%;
  margin:0 auto;
  padding:0 auto;
  text-align: center;
}

.original_language p, .last_language p{
  padding-top:55px;
}
.input_original_language{
    display: inline-block;
    width: 70%;
    height: 200px;
    font-size:30px;
    text-align: center;
    padding: 1em 0.5em;
    line-height: 3;
    border: 1px solid #999;
    border-radius: 25px;
    box-sizing: border-box;
    background: #f2f2f2;
    margin:0 auto;
    padding:0 auto;
}

.fluid_03{
  width:150px;/*横幅*/
  height: 150px;/*縦幅*/
  background:#fff100;/*背景色*/
  animation: fluidrotate 30s ease 0s infinite;/*アニメーションの設定*/
}

@keyframes fluidrotate {  
	  
0%, 100% {
    border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
}
14% {
    border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
}
28% {
    border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
}
42% {
    border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
}
56% {
    border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
}
70% {
    border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
}
84% {
    border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
}
	  
}


.bubble2 {
  position: relative;
  display: inline-block;
  margin-bottom:7px;
  padding:5px;
  width:90%;
  font-size: 16px;
  border-bottom: solid 3px #1a62bc;
}
/* 上に載せる三角アイコン */
.bubble2:before {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 50%;
  margin-left: -16px;
  border: 13px solid transparent;
  border-top: 13px solid #FFF;
  z-index: 2;
}
/* 下に載せる三角アイコン */
.bubble2:after {
  content: "";
  position: absolute;
  bottom: -29px;
  left: 50%;
  margin-left: -17px;
  border: 14px solid transparent;
  border-top: 14px solid #1a62bc;
  z-index: 1;
}

.result p{
  color:black;
  display: inline-block;
  width:70%; 
  margin:30px;
  padding: 30px;
  word-wrap: break-word;
  text-align:center;
  font-weight: bold;
  font-size:40px;
  border: 1px solid #999;
  border-radius: 10px;
  background-color: #F2F2F2;
}