body {
  
}

@keyframes squiggly-anim{
  0% {
    filter:url('#squiggly-0');
  }
  25% {
    filter:url('#squiggly-1');
  }
  50% {
    filter:url('#squiggly-2');
  }
  75% {
    filter:url('#squiggly-3');
  }
  100% {
    filter:url('#squiggly-4');
  }
}

.svg{
  animation:squiggly-anim .34s linear infinite;
  color: black;
  position: relative;
  text-align: center;
  font-size:110px;
}
.svg_02{
  animation:squiggly-anim .34s linear infinite;
  color: black;
  position: relative;
  text-align: center;
  font-size:60px;
}

.title{
  color: black;
  position: relative;
  text-align: center;
  top:100px;
  font-size:60px;
}

.settings{
    position: relative;
    text-align: center;
}
.setting{
    font-size:30px;
    background-color: white;
}
.text{
    font-size:30px;
    position: relative;
    width: 300px;
    right: 80px;
    padding: 10px;
    background-color: white;
}
.style_01{
    text-align: center;
    font-size:30px;
}
.style_02{
    text-align: right;
    padding:10px;
}

.style_03{
  text-align: center;
}

input::placeholder {
  color: black;
  font-size: 30px;
  text-align: center;
}

.original_text{
    display: inline-block;
    width: 90%;
    height: 200px;
    font-size:30px;
    text-align: center;
    padding: 1em 0.5em;
    line-height: 3;
    border: 1px solid #999;
    box-sizing: border-box;
    background: #f2f2f2;
    margin: 0.5em 0;
}

.result_01{
  color:black;
  display: inline-block;
  width:40%; 
  height:300px;
  margin:60px;
  word-wrap: break-word;
  text-align:center;
  font-weight: bold;
  font-size:40px;
}

.result_02{
  color:red;
  display: inline-block;
  width:40%; 
  height:300px;
  margin:60px;
  text-align:center;
  word-wrap: break-word;
  font-weight: bold;
  font-size:40px;
}